absl-py==1.0.0
appdirs==1.4.4
audioread==2.1.9
blessings==1.7
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
curtsies==0.3.10
cwcwidth==0.1.5
cycler==0.11.0
decorator==5.1.0
fonttools==4.28.2
google-auth==2.3.3
google-auth-oauthlib==0.4.6
grpcio==1.42.0
idna==3.3
importlib-metadata==4.8.2
joblib==1.1.0
kiwisolver==1.3.2
librosa==0.8.1
llvmlite==0.37.0
Markdown==3.3.6
matplotlib==3.5.0
numba==0.54.1
numpy==1.20.0
oauthlib==3.1.1
packaging==21.3
Pillow==8.4.0
pooch==1.5.2
protobuf==3.19.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyparsing==3.0.6
pysptk==0.1.18
python-dateutil==2.8.2
requests==2.26.0
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.8
scikit-learn==1.0.1
scipy==1.7.2
setuptools-scm==6.3.2
six==1.16.0
SoundFile==0.10.3.post1
sox==1.4.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
torch==1.11.0+cu113
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
threadpoolctl==3.0.0
tomli==1.2.2
tqdm==4.62.3
typing-extensions==4.0.0
urllib3==1.26.7
wavenet-vocoder==0.1.1
Werkzeug==2.0.2
zipp==3.6.0
